
*.un~
*.txt~
*.swp
*.ipch
*.db
*.opendb
*.pdb
*.pdb
*.log
*.exe
*.obj
*.log
*.pdb
*.tlog
*.idb
tiny2D/.vs/SDL_grader/v15/.suo
tiny2D/.vs/SDL_grader/v15/.suo
tiny2D/.vs/SDL_grader/v15/.suo
tiny2D/Release/main_my_game.obj
tiny2D/Release/SDL_grader.exe
tiny2D/Release/SDL_grader.iobj
tiny2D/Release/SDL_grader.ipdb
tiny2D/Release/SDL_grader.log
tiny2D/Release/SDL_grader.pdb
tiny2D/Release/SDL_grader.tlog/CL.read.1.tlog
tiny2D/Release/SDL_grader.tlog/CL.write.1.tlog
tiny2D/Release/SDL_grader.tlog/link.read.1.tlog
tiny2D/Release/SDL_grader.tlog/link.write.1.tlog
tiny2D/Release/SDL_grader.tlog/SDL_grader.lastbuildstate
tiny2D/Release/SDL_grader.tlog/SDL_grader.write.1u.tlog
tiny2D/Release/vc141.pdb
tiny2D/SDL_grader.vcxproj
.gitignore~
tiny2D/.vs/SDL_grader/v15/.suo
misc_examples/neuralnet_simulatd_Annealing/x64/Debug/nueralnet_simulated_annealing.ilk
