.vs/
.vs
*~
*.ipch
*.db
*.swp
2D_programming_class_student_grading/Release/main.obj
2D_programming_class_student_grading/Release/SDL_intro.exe
2D_programming_class_student_grading/Release/SDL_intro.iobj
2D_programming_class_student_grading/Release/SDL_intro.ipdb
2D_programming_class_student_grading/Release/SDL_intro.log
2D_programming_class_student_grading/Release/SDL_intro.pdb
2D_programming_class_student_grading/Release/SDL_intro.tlog/CL.command.1.tlog
2D_programming_class_student_grading/Release/SDL_intro.tlog/CL.read.1.tlog
2D_programming_class_student_grading/Release/SDL_intro.tlog/CL.write.1.tlog
2D_programming_class_student_grading/Release/SDL_intro.tlog/link.command.1.tlog
2D_programming_class_student_grading/Release/SDL_intro.tlog/link.read.1.tlog
2D_programming_class_student_grading/Release/SDL_intro.tlog/link.write.1.tlog
2D_programming_class_student_grading/Release/SDL_intro.tlog/SDL_intro.lastbuildstate
2D_programming_class_student_grading/Release/SDL_intro.tlog/SDL_intro.write.1u.tlog
2D_programming_class_student_grading/Release/vc141.pdb
2D_programming_class_student_grading/Debug/vc141.pdb
2D_programming_class_student_grading/Debug/vc141.idb
2D_programming_class_student_grading/Debug/SDL_intro.tlog/link.read.1.tlog
2D_programming_class_student_grading/Debug/SDL_intro.tlog/CL.read.1.tlog
2D_programming_class_student_grading/Debug/SDL_intro.pdb
2D_programming_class_student_grading/Debug/SDL_intro.log
2D_programming_class_student_grading/Debug/SDL_intro.ilk
2D_programming_class_student_grading/Debug/SDL_intro.exe
2D_programming_class_student_grading/Debug/main.obj
2D_programming_class_student_grading/Debug/vc141.pdb
2D_programming_class_student_grading/Debug/vc141.idb
2D_programming_class_student_grading/Debug/SDL_intro.tlog/link.read.1.tlog
2D_programming_class_student_grading/Debug/SDL_intro.tlog/CL.read.1.tlog
2D_programming_class_student_grading/Debug/SDL_intro.pdb
2D_programming_class_student_grading/Debug/SDL_intro.log
2D_programming_class_student_grading/Debug/SDL_intro.ilk
2D_programming_class_student_grading/Debug/SDL_intro.exe
2D_programming_class_student_grading/Debug/main.obj
